<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<header id="header" th:fragment="common_header()">
    <a href="/" class="logo"><strong>Study</strong>(SpringBoot , SpringMVC , JPA , Thymeleaf)</a>
    <ul class="icons">
<!--        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>-->
<!--        <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
        <li><a href="https://github.com/jdalma" target="_blank" class="icon brands fa-brands fa-github"><span class="label">Github</span></a></li>
<!--        <i class="fa-brands fa-github"></i>-->
    </ul>
</header>