<html xmlns:th="http://www.thymeleaf.org">
<!-- Menu -->
<nav id="menu" th:fragment="common_menu()">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        <li><a href="/">Homepage</a></li>
        <li><a href="/elements">글 작성 샘플</a></li>
        <li><a href="/git">깃 연동</a></li>
        <li><a href="/bookmarks">🔖 북마크</a></li>
        <li>
            <span class="opener">메뉴 3</span>
            <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
            </ul>
        </li>
    </ul>
</nav>